@page "/supprDenonciation"
@using API.Resources
@using JeBalance.Domain.Model
@inject DenonciationSupprService Service
	<EditForm Model="@denonciation" OnValidSubmit="FormSubmitted">
		Êtes-vous sûr de vouloir supprimer cette dénonciation ?
		<button type="submit" class="btn btn-danger">Supprimer</button>
		<button @onclick="@(async () => await BlazoredModal.CancelAsync())"
				class="btn btn-secondary">
			Annuler
		</button>
	</EditForm>
	@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

	DenonciationCreationAPI denonciation = new DenonciationCreationAPI();

	private async void FormSubmitted()
	{
		await Service.SupprDenonciationAsync(denonciation.Id);

		await BlazoredModal.CloseAsync(ModalResult.Ok<DenonciationCreationAPI>(denonciation));
	}
}