@page "/ajoutdenonciation"
@page "/denonciation/{denonciationId:int?}"
@inject DenonciationService Service
<EditForm Model="@place" OnValidSubmit="FormSubmitted">
    <div class="form-group">
        <label for="nom">Nom</label><br />
        <InputText class="form-control" id="nom" @bind-Value="place.Name" />
    </div>
    <br />
    <div class="form-group">
        <label for="capacity">Taille</label><br />
        <InputNumber class="form-control" id="capacity" @bind-Value="place.Capacity" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <button @onclick="@(async () => await BlazoredModal.CancelAsync())" class="btn btn-secondary">Annuler</button>
</EditForm>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    JeBalance.API.Resources.DenonciationCreationAPI denonciation = new DenonciationCreationAPI();

    private async void FormSubmitted()
    {
        await Service.AddDenonciationAsync(denonciation);

        await BlazoredModal.CloseAsync(ModalResult.Ok<DenonciationCreationAPI>(denonciation));
    }
}