@page "/"
<PageTitle>Accueil</PageTitle>
<AuthorizeView>
	<Authorized>
		<h1>Bonjour @context.User.Identity.Name !</h1>
	</Authorized>
	<NotAuthorized>
		<h1>Bonjour cher invité(e).</h1>
		<h2>
			pour créer un compte, <a href="mailto:admin@jebalance.test">contacter l'administrateur</a>.
		</h2>
	</NotAuthorized>
</AuthorizeView>
Bienvenue sur JeBalance.
<SurveyPrompt Title="How is Blazor working for you?" />
@code {
}